body {
 background: #E5E5E5;
}

.card {

 border-radius: 10px;

 border: 0 solid rgba(0, 0, 0, 0);
 filter: drop-shadow(0px 3px 3px rgb(0 0 0 / 15%));

 width: 320px;
 height: 320px;
}

.card:hover {

 filter: drop-shadow(0px 8px 8px rgb(0 0 0 / 15%));

}

.card-logo{
 border-radius: 100px;
 aspect-ratio: 1 / 1;
 height: 100%;
 padding: 8px;
}

.card-img, .card-img-top {
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;


}